body {
background: #fdede0;
 font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 2.5em;
  color: rgb(227, 69, 69);
  text-align: center;
  margin-top: 20px;
}

.h1-container {
  text-align: center;
  margin-top: 20px;
  background-color:#ff9f50;
}

h2 {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.pizza-item {
background:rgb(236, 210, 168);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.price {
  font-size: 1.2em;
  color: #e34545;
  font-weight: bold;
  font: 'Helvetica Neue', sans-serif;
}